@model CursoInicianteMvc.Models.PessoaEditarViewModel
@{
    ViewData["Title"] = "Excluir Pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{ <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css"> }

@section Scripts
{
    <script type="text/javascript" src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js"></script>
    <script>    
    function formatarData(data){
        if (data)
            return new Date(data).toLocaleDateString();
        return "Não realizada ainda";
    }
    </script>
}

<div class="row">
    <div class="col-12">
        <div class="card">
                <div class="card-header d-flex py-3">
                    <div class="card-title">
                        <h4>Excluir: @Model.Nome</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Nome" class="form-label"></label>
                                <input asp-for="Nome" class="form-control-plaintext" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-control-plaintext" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Celular" class="form-label"></label>
                                <input asp-for="Celular" class="form-control-plaintext" readonly="readonly"/>
                            </div>
                        </div>
                    </div>
        
                </div>
            <div class="card-body">
                <h5 class="text-danger">As tarefas e subtarefas relacionadas serão excluídas junto com a pessoa.</h5>
                <table
                    class="table"
                    data-toggle="table"
                    data-url="@Url.Action("Search", "Tarefa", new { pessoaId = Model.Id })"
                    data-pagination="true"
                    data-side-pagination="server"
                    data-locale="pt-BR">
                    <thead>
                    <th data-title="Descrição" data-field="descricao" data-sortable="true" data-sort-name="Descricao"></th>
                    <th data-title="Realizado Em" data-field="realizadoEm" data-sortable="true" data-sort-name="RealizadoEm" data-formatter="formatarData"></th>
                    <th data-title="Qnt. Sub-Tarefas" data-field="qntSubtarefas" data-sortable="false" data-align="center"></th>
                    <th data-title="Qnt. Sub-Tarefas Realizadas" data-field="qntSubtarefasConcluidas" data-sortable="false" data-align="center"></th>
                    </thead>
                </table>
            </div>
                <div class="card-footer d-flex">
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Voltar</a>
                    <div class="ms-auto">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id"/>
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>