@model CursoInicianteMvc.Models.TarefaCadastrarViewModel

@{
    ViewData["Title"] = "Nova Tarefa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <form asp-action="Create" method="post">
                <div class="card-header d-flex pt-3">
                    <div class="card-title">
                        <h4>Nova Tarefa</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.PessoaId">
                    <div class="row gap-3">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="PessoaId" class="form-label"></label>
                                <input asp-for="PessoaNome" readonly="readonly" disabled="disabled" class="form-control">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Descricao" class="form-label"></label>
                                <textarea asp-for="Descricao" class="form-control"></textarea>
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex">
                    <div>
                        <a class="btn btn-secondary" asp-controller="Pessoa" asp-action="Details" asp-route-id="@Model.PessoaId">Voltar</a>
                    </div>
                    <div class="ms-auto">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>