@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tarefas";
}

@section Styles{ <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css"> }

@section Scripts
{
    <script type="text/javascript" src="lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js"></script>
    <script>
    function btnAcoes(id){
        const urlEditar = $("input#url-editar");
        const urlDetalhes = $("input#url-detalhes");
        const urlExcluir = $("input#url-excluir");
        
        return `
            <a href="${urlDetalhes.val().concat("/").concat(id)}" class="btn btn-primary">Detalhes</a>
            <a href="${urlEditar.val().concat("/").concat(id)}" class="btn btn-info">Editar</a>
            <a href="${urlExcluir.val().concat("/").concat(id)}" class="btn btn-danger">Excluir</a>
` 
    }
    
    function formatarData(id){
        if (id)
            return new Date(id).toLocaleDateString();
        return "Não realizada ainda";
    }
    </script>
}

<input type="hidden" id="url-editar" value="@Url.Action("Edit")">
<input type="hidden" id="url-detalhes" value="@Url.Action("Details")">
<input type="hidden" id="url-excluir" value="@Url.Action("Delete")">

<div class="row">
    <div class="card">
        <div class="card-header d-flex py-3">
            <div class="card-title">
                <h4>Tarefas</h4>
            </div>
        </div>
        <div class="card-body">
            <table
                class="table"
                data-toggle="table"
                data-url="@Url.Action("Search")"
                data-pagination="true"
                data-side-pagination="server"
                data-locale="pt-BR"
                data-search="true">
                <thead>
                    <th data-title="Descrição" data-field="descricao" data-sortable="true" data-sort-name="Descricao"></th>
                    <th data-title="Realizado Em" data-field="realizadoEm" data-sortable="true" data-sort-name="RealizadoEm" data-formatter="formatarData"></th>
                    <th data-title="Qnt. Sub-Tarefas" data-field="qntSubtarefas" data-sortable="false" data-align="center"></th>
                    <th data-title="Qnt. Sub-Tarefas Realizadas" data-field="qntSubtarefasConcluidas" data-sortable="false" data-align="center"></th>
                    <th data-title="#" data-field="id" data-formatter="btnAcoes" data-align="center"></th>
                </thead>
            </table>
        </div>
    </div>
</div>